In [1]:
import datetime as dt
from common.utils import *

In [2]:
# USER INPUT: Enter today's date
today     = dt.date(2023, 1, 30) # yyyy, mm, dd

# Where is your datlib located? For some users, might have to append an IP
datlib_loc = "//10.17.182.172/datlib"

yesterday = today - dt.timedelta(days=1)

In [3]:
bs_info = {
    # "bluescale4" : {"account_list" : ["HUBI-3-S1-F", "HUBI-3-S1-M", "HUBI-3-S1-M Loan", "HUBI-3-S1-P", "HUBI-3-S1-E"],
    #                 "proc_name" : "trading.pnl.bluescale4_nav",
    #                 #"interest_paid" : 1.424657534 + 4.416438356 + 4.273972603 + 4.41643836,
    #                 "interest_paid" : 0,
    #                 #"loans" : [("BTC", 650, 0.08, 365, dt.date(2021,2,19))]
    #                 "loans" : [("BTC", 0, 0.08, 365, dt.date(2021,2,19))]
    #                 },

    # "bluescale5" : {"account_list" : ["HUBI-3-S2-F", "HUBI-3-S2-M", "HUBI-3-S2-M Loan", "HUBI-3-S2-P", "HUBI-3-S2-E"],
    #                 "proc_name" : "trading.pnl.bluescale5_nav",
    #                 #"interest_paid" :  23.28767123 + 72.19178082 + 69.86301370 + 72.19178082,
    #                 "interest_paid" :  0,
    #                 #"loans" : [("ETH", 10000, 0.085, 365, dt.date(2021,2,19))]
    #                 "loans" : [("ETH", 0, 0.085, 365, dt.date(2021,2,19))]
    #                 },

    "bluescale6" : {"account_list" : ["HUBI-3-S3-F", "HUBI-3-S3-M", "HUBI-3-S3-M Loan", "HUBI-3-S3-P", "HUBI-3-S3-E"],
                    "proc_name" : "trading.pnl.bluescale6_nav",
                    "interest_paid" : 0, #1.917808219 + 4.24657534 + 4.10958904 + 4.24657534 + 4.24657534 + 4.10958904 + 4.24657534 + 
                        #4.10958904 + 4.24657534 + 4.24657534 + 3.83561644 + 4.24657534 + 4.24657534 + 2.972602740 + 2.8767123387671233 + 
                        #2.87671233 + 2.97260274 + 2.87671233 + 2.87671233,
                    "loans" : [("BTC", 0, 0.10, 365, dt.date(2021,4,16))]
                    }
}

In [4]:
# list of accounts
exchanges = ['SHFT-1-W', 'HUBI-M', 'HUBI-E', 'HUB2-E', 'HUB2-M', 'LMAC', 'LMAX', 'KRKE', 'BTSE', 'PITX-E', 'WOOX-1-M-E', 
             'FUB2-M', 'HUBI-3-S3-M','OKEX-2-W1', 'OKEX-2-U1', 'FUBI-M', 'OKEX-2-S1', 'OKEX-2-S2', 'HUBI-1-M-P', 
             'FBLK-AUDIT-BINE', 'FBLK-AUDIT-HUBI', 'FBLK-AUDIT-OKEX', 'FBLK-Default', 'FBLK-GOTC-GACM', 'FBLK-LEND-BTGO', 
             'FBLK-LEND-DRAW', 'FBLK-LEND-OXTF', 'FBLK-LEND-XRPF', 'FBLK-LMAC-M', 'FBLK-Network Deposits', 'FBLK-PITX-E',
             'FBLK-LEND-CELS', 'FBLK-LEND-GADI', 'FBLK-LEND-NICO', 'FBLK-LEND-GENX','FBLK-BINE-MX-S1','FBLK-DEFI-AAVE',
             'FBLK-GOTC-BIGO','FBLK-DYDX-1-M-P','HUBI-3-S3-F','HUBI-3-S3-E','OKEX-2-S3','BTFX-1-M-E','FTXE-1-M-E',
             'BULL-1-M-E','BULL-1-M-M','DYDX-1-M-P','BINE-MX-S1-P','BINE-MX-S1-F','BINE-MX-S1-E','BINE-MX-S1-M','BINE-2-S1-E',
             'BINE-2-S1-F','BINE-2-S1-M','BINE-2-S1-P','BULL-2-M-E','BULL-2-M-M','HUBI-1-M-PT','BULL-3-M-E','BULL-4-M-E',
             'LEND-GACM','FBLK-WOOX-1-M-E','FBLK-LEND-GACM','DEFI-STRAT-1','GATE-1-M-E','GATE-1-M-M',
             'BINE-2-S2-E','BINE-2-S2-F','BINE-2-S2-M','BINE-2-S2-P','DEFI-STRAT-2','DEFI-STRAT-3','DEFI-STRAT-4',
             'GATE-1-M-C','GATE-1-M-PT','DEFI-STRAT-5','DEFI-STRAT-6','DEFI-STRAT-8']
loans     = ['LEND-GACM', 'LEND-HUBI', 'LEND-LMAC','LEND-PITX','LEND-XRPF','LEND-OKEX','HUBI-3-S3-M Loan','HUBI-M','HUB2-M',
             'LEND-OXTF','WOOX-1-M-E','FTXE-1-M-E','OKEX-2-U1','LEND-HUBS6','BULL-1-M-M Loan','BULL-2-M-M Loan','LEND-BULL',
             'OKEX-2-S3','BINE-2-S1-M','DEFI-STRAT-1 Loan','GATE-1-M-M Loan','BINE-2-S2-M','DEFI-STRAT-8 Loan']

In [5]:
########################################
# Get assets and liabilities for today #
########################################
td          = {} # dictionary to store all outputs
td["day"]   = today
td['marks'] = get_marks(today) #old

In [6]:
# Get today's assets
td['assets'] = get_assets(today, exchanges, td['marks'])

In [7]:
td['assets'].head(2)

,Account,Balance,BalanceType,Currency,Source,Timestamp,Timestamp_Native,Notional
0,BINE-2-S1-E,792.24,,AAVE,bine_2_s1_e.account_asset,20230130,2023-01-31 00:00:00.310,"64,206.48"
1,BINE-2-S1-E,"258,771.26",,ADA,bine_2_s1_e.account_asset,20230130,2023-01-31 00:00:00.310,"96,395.08"

In [8]:
# Get today's liabilities
td['loans'] = get_loans(today, loans, td['marks'])

In [9]:
# Get today's ED&F's cash margin balance
td['edf'] = get_edf_cash(today, fileloc=datlib_loc)

In [10]:
# Get today's bank balances
td['bmo'], td['slv'], td['sig'] = get_bank_balances(today)

In [11]:
############################################
# Get assets and liabilities for yesterday #
############################################
yd          = {} # dictionary to store all outputs
yd["day"]   = yesterday
yd['marks'] = get_marks(yesterday)

In [12]:
# Get yesterday's assets
yd['assets'] = get_assets(yesterday, exchanges, yd['marks'])

In [13]:
# Get yesterday's liabilities
yd['loans'] = get_loans(yesterday, loans, yd['marks'])

In [14]:
# Get yesterday's ED&F's cash margin balance
yd['edf'] = get_edf_cash(yesterday, fileloc=datlib_loc)

In [15]:
# Get yesterday's bank balances
yd['bmo'], yd['slv'], yd['sig'] = get_bank_balances(yesterday)

In [16]:
# Create summaries of bluescales
bs = summarize_bluescales(td, yd, bs_info)

In [17]:
# Create summary of all assets and loans
summary = summarize_all(td, yd, bs)

In [18]:
# Quick sanity check to see if today, yesterday's and change in NAV makes sense
summary.tail(1)

                20230129      20230130         Delta
Account
Net Assets 62,417,862.40 58,797,120.78 -3,620,741.62

In [19]:
summary[~(summary.index.isin(['BINE-MX-S1-P','BINE-MX-S1-F','BINE-MX-S1-E','BINE-MX-S1-M','PITX','LEND-PITX'])) & (summary.Delta==0)]

                         20230129  20230130 Delta
Account
FTXE-1-M-E                   0.00      0.00  0.00
LMAX                    10,852.32 10,852.32  0.00
BULL-1-M-M                   0.00      0.00  0.00
BULL-2-M-M                   0.00      0.00  0.00
BINE-2-S2-E                  0.00      0.00  0.00
BINE-2-S2-F                  0.00      0.00  0.00
BINE-2-S2-M                  0.00      0.00  0.00
Signature                    0.00      0.00  0.00
BMO_USD                      0.00      0.00  0.00
BMO_EUR                      0.00      0.00  0.00
Wedbush                 79,941.92 79,941.92  0.00
HUB2-M Margin Loan           0.00      0.00  0.00
HUBI-M Margin Loan           0.00      0.00  0.00
FTXE-1-M-E Margin Loan       0.00      0.00  0.00
LEND-LMAC                    0.00      0.00  0.00
LEND-OKEX                    0.00      0.00  0.00
OKEX-2-S3 Margin Loan        0.00      0.00  0.00
BINE-2-S2-M Margin Loan      0.00      0.00  0.00
BULL-1-M-M Loan              0.00      0.00  0.00
BULL-2-M-M Loan              0.00      0.00  0.00
GATE-1-M-M Loan              0.00      0.00  0.00
DEFI-STRAT-1 Loan            0.00      0.00  0.00
HUBI-3-S3-F                  0.00      0.00  0.00
HUBI-3-S3-M                  0.00      0.00  0.00
HUBI-3-S3-M Loan             0.00      0.00  0.00
HUBI-3-S3-P                  0.00      0.00  0.00
HUBI-3-S3-E                  0.00      0.00  0.00
Total BlueScale NAV          0.00      0.00  0.00
Less Huobi Contribution      0.00      0.00  0.00
Less Accrued Interest       -0.00     -0.00  0.00
Net BS BFC Assets            0.00      0.00  0.00

In [20]:
# Write the output file
export_to_excel(td, yd, summary, fileloc=datlib_loc);